.pagination {
    display: flex;
    flex-direction: row;
    margin: 0% 40%;
    position: fixed;
    bottom: 150px;
    right: 100px;
}
    
.link {
    text-decoration: none;
}

.page {
    list-style-type: none;
    font-size: 1rem;
    padding: 10px;
    margin: 1px;
    width: 15px;
    border-radius: 5px;
    border: 0.1px solid grey;
}