* {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
}


.links {
  margin-left: 30px;
  padding: 20px;
  color: #fff;
  font-size: large;
  text-decoration: none;
}

.repo-divs {
  padding: 8px;
  margin: 8% auto;
  border: 3px dotted grey;
}

.repo_display {
  font-size: 1.5rem;
  text-align: justify;
  list-style-type: none;
  color: skyblue;
  letter-spacing: 10px;
}

.repos_display {
  text-align: justify;
  list-style-type: none;
  color: skyblue;
  letter-spacing: 10px;
}